---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}</title>
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="places">
			<div class="container">
				<ul class="places-list">
					{% for item in site.categories.places reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.place.preview | prepend: site.baseurl }}" alt="{{ item.place.title }}" />
								</div>
								<span class="h2">{{ item.place.country }}</span>
								<h3>{{ item.place.name }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>